
.error-msg{
	color:#f50;
	padding-left:10px;
}

.am-tab-bar{
	position:fixed;
	bottom:0;
	width: 100%;
	height: 50px !important;
}

.fixe-header.am-navbar{
	position:fixed;
	top:0;
	height: 45px;
	z-index:10;
	width:100%;
}

.page-content{
	padding: 45px 5px;
}

.login_page{
	text-align:center;
}

#chat-page .chat-me .am-list-extra{
	flex-basis:auto;
}

#chat-page .chat-me .am-list-content{
	padding-right:15px;
	text-align: right;
}
#chat-page .chat-me-placeholder{
	flex-basis:auto;
	padding-right:15px;
	text-align: right;
	opacity:0;
}
#chat-page .navbar{
	z-index:11;
	position:fixed;
	top:0;
	height: 45px;
	width:100%;
}

.stick-footer{
	z-index:10;
	position:fixed;
	bottom:0;
	width:100%;
}
.chat-area{
	position:relative;
	margin-top:45px;
	width:100%;
	overflow: auto;
}



#chat-page .am-grid-icon{
	display: none;
}
#chat-page .am-grid-text{
	margin-top:0;
}
